{% extends "admin/base_site.html" %}

{% block extrahead %}
    {% load static %}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

  <style type="text/css">
    #id_body { width: 95%; height: 40em;}
  </style>
  

    <script>
    {{ block.super }}
    console.log("David Gleba 2023-03-18c");
    </script>
    
{% endblock %}

<!-- https://stackoverflow.com/questions/7357057/overriding-admin-css-in-django -->

<!-- https://stackoverflow.com/questions/22345527/how-to-remove-breadcrumbs-in-django-admin -->


